
<h1>Login</h1>
<hr>
<div class="row justify-content-center">

    <div class="col-9">

        <form class="p-4" (ngSubmit)="onLogin(credentials)">
            <input 
                type="text"
                [(ngModel)]="credentials.name"
                name="name"
                #name="ngModel"
                class="form-control"
                placeholder="User Name" 
                autofocus
                required
                />

                <!-- <input 
                type="text"
                [(ngModel)]="credentials.pass"
                name="pass"
                class="from-control"
                placeholder="Password"/> -->

            <button [disabled]="name.invalid" class="btn btn-primary btn-block margin-top-10">
                Login
            </button>
        </form>

    </div>

</div>
